html{
	font-size: 62.5%;
}

body{
	background-color:#FFF;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 24px;
	color: #363636;
}

.page-header {
	width:100%;
	position:absolute;
    -webkit-box-shadow: 0px 7px 22px -6px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 7px 22px -6px rgba(0,0,0,0.84);
    box-shadow: 0px 7px 22px -6px rgba(0,0,0,0.84);

}

.header-top {
    position: relative;
}

.header-top > .hamburger {
    position: absolute;
    top: 11px;
    right: 10px;
}

.logo{
    font-family: 'Allura', cursive;
    color: #363636;
    font-size:4.8rem;
    margin:0;
    padding: 21px;
}

.logo,
.page-nav {
    background-color: rgba(255,255,255,0.8);
}

.logo a{
   color:inherit;
   text-decoration:none;
}

.page-nav {
    padding: 0 21px;
	display:none;
}

.page-nav .menu-nav{
	padding:0;
	width:100%;
    margin:0 auto;
}

.page-nav.is-active .menu-nav{
	padding:0;
	margin:0 auto;
	display: block;
}

.page-nav .menu-nav li {
	border-bottom: 1px solid #86A78F;
	padding-bottom:15px;
	padding-top:15px;
	list-style-type:none;
	padding-left:0;
	text-align:center;
}

.page-nav .menu-nav li:last-child{
	border:0;
}

.page-nav .menu-nav li a{
	text-decoration:none;
	color:#000;
}

.page-nav .menu-nav ul{
	display:none;
}

.hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger:focus{
outline:none;
}

.hamburger-box {
  width: 34px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 4px;
    background-color: #363636;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.picture {
    max-width:100%;
    -webkit-box-shadow: 0px 1px 9px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 9px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 9px -2px rgba(0,0,0,0.4);
}

.content{
    text-align:center;
}

.info{
	padding:30px 0;
}

.info-caffe{
	background-color:#f4f4f4; /*#F7E4BE;*/
	padding:30px 0;
	-webkit-box-shadow: 0px 0px 7px 3px #f4f4f4;
    -moz-box-shadow: 0px 0px 7px 3px #f4f4f4;
    box-shadow: 0px 0px 7px 3px #f4f4f4;
    position:relative;
}

/*.info-caffe:after {
            background: linear-gradient(-45deg, #ffffff 12px, transparent 0), linear-gradient(45deg, #ffffff 12px, transparent 0);
            background-position: left-bottom;
            background-repeat: repeat-x;
            background-size: 24px 24px;
            content: " ";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 24px;
        }

.info-caffe:before {
                    background: linear-gradient(45deg, #F7E4BE 12px, transparent 0), linear-gradient(-45deg, #F7E4BE 12px, transparent 0);
                    background-position: left-top;
                    background-repeat: repeat-x;
                    background-size: 24px 24px;
                    content: " ";
                    display: block;
                    position: absolute;
                    top: -24px;
                    left: 0px;
                    width: 100%;
                    height: 24px;
                }*/
.wrap1, .wrap2{
 width:100%;
 min-height:250px;
 box-sizing:border-box;
 overflow:hidden;
}

.wrap1{
    padding-right:18px;
    padding-bottom:10px;
}

.wrap2{
    padding-left:18px;
}

.coffee-picture, .pizza-picture {
    width:inherit;
    min-height:260px;
    margin:0;
    padding:0;
    border: 4px solid #86A78F;
    }

.coffee-picture {
border-left:0;
}

.info-offer{
    padding:30px 0;
}

.party-picture, .catering-picture{
    margin: 0 auto;
    text-align:center;
    width:100%;
    border-top: 4px solid #86A78F;
    border-bottom:4px solid #86A78F;
}

 .catering-picture{
 margin-top:20px;
 }

.info-newest{
	background-color:#f4f4f4; /*#F7E4BE;*/
	padding:30px 0;
	-webkit-box-shadow: 0px 0px 7px 3px #f4f4f4;
        -moz-box-shadow: 0px 0px 7px 3px #f4f4f4;
        box-shadow: 0px 0px 7px 3px #f4f4f4;
}

.info-box-fst, .info-box-sec, .info-box-th, .info-box-fr{
	width:90%;
	min-height:250px;
	background:#FFF;
	border:3px solid #86A78F;
	margin:30px 0;
}

.info-box-fst{
    /*background-image: url("../img/karnawał.jpg");*/
    background-position:40%;
}

.info-box-sec{
    /*background-image: url("../img/komunia.jpg");*/
    background-position:30%;
    margin-left:30px;
}

.info-box-th, .info-box-fr{
display:none;
}

.info-newest a{
text-decoration:none;
color:#FFF;
font-size:3.0rem;
line-height:150%;
font-style:italic;
}

.info-box-fst p{
    background: #86A78F
    background: -moz-linear-gradient(left, #a7781d 0%, #86A78F 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #86A78F), color-stop(0%, #86A78F), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, #86A78F 0%, #86A78F 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, #86A78F 0%, #86A78F 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, #86A78F 0%, #86A78F 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #86A78F 0%, #86A78F 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86A78F', endColorstr='#86A78F', GradientType=1);
    text-align:left;
}

.info-box-sec p{
background: rgba(0,0,0,0);
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #86A78F 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #86A78F));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #86A78F 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, #86A78F 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #86A78F 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, #86A78F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#86A78F', GradientType=1 );
  text-align:right;
}

.info-contact{
	padding:30px 0;
	margin:0;
	text-align:center;
	background-color:#FFF;
}

.info-contact .contact-list{
	padding-left:0;
}

.info-contact .contact-list li{
	list-style-type:none;
	padding-bottom:10px 0;
}

.info-contact .contact-list .adress2, .info-contact .contact-list .mail, .info-contact .contact-list .phone-number{
	padding-bottom:20px;
}

.fb{
	text-align:center;
}

.map-wrap{
background-image: url("../img/mapa.png");
background-position:50%;
height:310px;
position:relative;
}

.map-title{
position:relative;
top:75px;
}

.how-to-find{
text-transform:uppercase;
border: 2px solid #86A78F;
padding:15px;
font-weight:bold;
font-size:2.4rem;
border-radius:10px;
width:150px;
margin: 20px auto;
}

.how-to-find a{
text-decoration:none;
color:inherit;
}

/*.gmaps{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:400px;
	border:0;
	padding-bottom:10px;
}*/

footer{
	background:#413E4A;
	-webkit-box-shadow: 0px -2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 10px -2px rgba(0,0,0,0.75)
}

footer p {
	color:#FFF;
	margin:0;
	padding:20px 0;
	text-align:center;
}

h2{
	text-align:center;
	font-family: 'Allura', cursive;
	font-size:3.8rem;
	margin:0;
    position: relative;
    display: inline-block;
    width: 100%;
    padding:10px 0;
}

/*h2 span {
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}*/

h2:before, h2:after {
    content: '';
    height: 2px;
    width: 30px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color:#86A78F;
    position: relative;
    top: -4px;
}

h2:before {
    margin-right: 15px;
}

h2:after {
    margin-left: 15px;
}

h3{
font-family: 'Allura', cursive;
font-size:3rem;
}

h3:before, h3:after {
    content: '';
    height: 1px;
    width: 15px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color:#86A78F;
    position: relative;
    top: -4px;
}

h3:before {
    margin-right: 10px;
}

h3:after {
    margin-left: 10px;
}

/*h2:after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    border-top: 1px solid #ddd;
    left: 15px;
    top: calc(50% - 1px);
}*/

p{
	padding-left:20px;
	padding-right:20px;
}

p.fb-info{
    margin:0;
    margin-bottom:10px;
    padding:0;
}

.button-content{
	background:#86A78F; /*#a7781d;*/
	border:1px solid #FFF;
	border-radius:10px;
	padding:6px 11px;
	display:block;
	margin:10px auto;
	font-weight:400;
	color:#FFF;
	letter-spacing:1px;
	font-size:3rem;
	display:inline-block;
	box-shadow: 0px 0px 0px 3px #86A78F;
	font-family: 'Allura', cursive;
}

.button-content a{
	text-decoration:none;
	color:#FFF;
}

@media (min-width:768px) /*Poczytać o rozdzielczościach, dlaczego jednostka em*/{
.menu-container{
	max-width:1280px; /*Od jakiej rozdzielczości*/
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.page-header{
	box-shadow:none;
	position:absolute;
	transition: opacity 0.3s ease-in-out;
}

.page-header:hover{

	opacity:0.9;
}

.menu-container .hamburger{
    display:none;
}

.page-nav {
	position:absolute;
	top: 5px;
	right:20px;
	background-color: transparent;
	display: block !important;
}

.page-nav .menu-nav{
    display:block;
}

.page-nav .menu-nav li {
    border-bottom:none;
	list-style-type:none;
    display:inline-block;
    font-size:2.0rem;
    margin-left:15px;
    margin-right:15px;
}

.page-nav .menu-nav li:last-child {
     margin-right:0;
}


.page-nav .menu-nav li a:hover{
   	    color:#ddd;
   	    border-bottom:1px solid #86A78F;
}

@media(min-width:1200px){
}
.picture {
/*-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);*/
width:100%;
}
}