html {
    font-size: 62.5%;
}

body {
    background-image: url("../img/light.png");
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    color: #555;
}

.page-header {
    width: 100%;
    position: absolute;
}

.header-top {
    position: relative;
    padding: 0;
}

.header-top > .hamburger {
    position: absolute;
    top: 11px;
    right: 10px;
}

.logo {
    font-family: 'Allura', cursive;
    color: #363636;
    font-size: 4.8rem;
    margin: 0;
    padding: 21px;
}

.logo,
.page-nav {
    background-color: rgba(244, 244, 244, 0.85);
}

.logo a {
    color: inherit;
    text-decoration: none;
}

.page-nav {
    padding: 0 40px;
    display: none;
}

.page-nav .menu-nav {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.page-nav.is-active .menu-nav {
    padding: 0;
    margin: 0 auto;
    display: block;
}

.page-nav .menu-nav li {
    border-bottom: 1px solid rgba(197, 157, 95, 0.85);
    padding-bottom: 15px;
    padding-top: 15px;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.page-nav .menu-nav li:last-child {
    border: 0;
}

.page-nav .menu-nav li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger:focus {
    outline: none;
}

.hamburger-box {
    width: 34px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 35px;
    height: 4px;
    background-color: #363636;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.picture {
    width: 100%;
}

section {
    padding: 20px 0;
}

section.map {
    padding: 0;
}

.content {
    text-align: center;
}


.menu-rest-module {
   display:none;
   min-height: 600px;
}

.menu-rest-module.active {
    display: block;
}

.description {
    font-size: 2.2rem;
    line-height: 3rem;
    display: block;
    margin-bottom: 20px;
    color: #555;
}

.menu-rest-modules {
    min-height: 600px;
}

.menu-rest-select {
    display: inline-block;
    padding: 30px 40px;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    /*  border: 1px solid #c59d5f;*/
  
    background: none;
    cursor: pointer;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;

}

.menu-rest-col {
    margin: 0;
    padding: 0 20px;
}

.menu-rest-col li {
    list-style-type: none;
    text-align: left;
    margin: 15px 0;
}

.menu-rest-item, .prizes, .description {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.inline {
    display: flex;
    align-items: baseline;
}

.dots {
    flex: 1;
    border-bottom: 2px dotted #c59d5f;
}

.menu-rest-ingr {
    font-style: italic;
    padding: 7px 0;
}

.info-newest {
    padding: 0;
}

.map-wrap {
    background-image: url("../img/mapa.png");
    background-position: 50%;
    height: 310px;

}

.map-title {
    position: relative;
    top: 75px;
}

.how-to-find {
    text-transform: uppercase;
    border: 2px solid #c59d5f;
    padding: 15px;
    font-weight: bold;
    font-size: 2.4rem;
    border-radius: 10px;
    width: 150px;
    margin: 20px auto;
}

.how-to-find a {
    text-decoration: none;
    color: inherit;
}

footer {
    background: #413E4A;
    color: #FFF;

}

footer p {
    color: #FFF;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.contact, .adress, .socials {
    text-align: center;
    padding: 10px 0;
}

.contact {

    margin: 10px 0;

}

.copyright {
    background: #34313B;
}

h1, h2 {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;

    font-weight: 400;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #c59d5f;
    letter-spacing: 2.5px;

}

h3 {
    font-size: 2.2rem;
    text-align: center;
}

h3:before {
    margin-right: 10px;
}

h3:after {
    margin-left: 10px;
}

.parallax-window {
    min-height: 450px;
    background: transparent;

}

.parallax-window.picture {
    width: calc(100% / 3);
    margin: 0 5px;

}

.image-container {
    display: flex;

}

p {
    padding: 20px;
    margin: auto;
    max-width: 1160px;
}

p.fb-info {
    margin: 10px auto;
}

p.cont-par {
    padding: 10px;
}

span {
    color: #c59d5f;
    
}

span.letter {
    font-size: 3.8rem;
    font-weight: 700;
    font-family: 'Old Standard TT', serif;

}


.menu-rest-module {
    display: none;
}

.menu-rest-module.active {
    display: block;
}


@media (min-width: 480px) {
    .picture1,
    .picture2 {
        width: 50%;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .menu-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .page-header {
        position: fixed;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
        -webkit-box-shadow: 0px 1px 6px 0px rgba(61, 60, 61, 1);
        -moz-box-shadow: 0px 1px 6px 0px rgba(61, 60, 61, 1);
        box-shadow: 0px 1px 6px 0px rgba(61, 60, 61, 1);
    }

    .menu-container .hamburger {
        display: none;
    }

    .page-nav {
        position: absolute;
        top: 5px;
        right: 20px;
        background-color: transparent;
        display: block !important;
    }

    .page-nav .menu-nav {
        display: block;
    }

    .page-nav .menu-nav li {
        border-bottom: none;
        list-style-type: none;
        display: inline-block;
        font-size: 2.0rem;
        margin-left: 15px;
        margin-right: 15px;
    }

    .page-nav .menu-nav li:last-child {
        margin-right: 0;
    }

    .page-nav .menu-nav li a:hover {
        color: #ddd;
        border-bottom: 1px solid #c59d5f;
    }

    .flex-container,
    .flex-container-bsl,
    .flex-info-offer,
    .menu-rest-container {
        display: flex;
        max-width: 1260px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    
    .menu-rest-container {
        align-items: flex-start;
    }

  
    .flex-container-bsl {
        align-items: baseline;
        max-width: 1200px;
    }

    .addbreak {
        margin-top: 60px;
    }

    .menu-rest-col {
        width: 46%
    }

    .about {
        padding: 85px 20px;
    }
        
    .info-caffe {
        padding: 85px 20px 20px;
    }

    .about-col-left,
    .about-col-right {
        width: 50%;
        text-align: left;
    }

    .about-col-right {
        border-left: 1px solid rgba(197, 157, 95, 0.4);

    }

    .img-col {
        width: 55%;

    }

    .art-col {
        width: 45%;
    }

    .art-col-p {
        padding-top: 0;
    }

    .art-col-offer,
    .img-col-offer {
        width: 50%;
    }

    .art-col-offer {

        margin: 15px;
    }

    .picture1,
    .picture2,
    .picture3 {
        width: calc(100% / 3);
        display: inline-block;
    }

    .contact {
        border-left: 1px solid #c59d5f80;
        border-right: 1px solid #c59d5f80;
        padding: 10px 40px;
    }

    h2 {
        font-size: 4.0rem;
        padding: 0;
        line-height: 120%;
    }

    .separator {
        padding: 0;
        padding-bottom: 35px;
    }

    .about-text {
        margin-bottom: 45px;
        margin-top: 12px;
    }

    section {
        padding: 50px 50px;
    }

    p {
        max-width: 1260px;
        line-height: 35px;
        padding: 20px 80px;
    }

    p.cont-par {
        padding: 5px;
    }

    p.cont-par1 {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .about-p-left {
        padding-right: 60px;
    }

    .about-p-right {
        padding-left: 60px;
    }

    .contact-container {
        max-width: 1260px;
        margin: 0 auto;
        padding: 45px 0;

        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .bla {
        width: 45%;
        margin: 5px;
    }
}
