
@mixin banner-properties {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 65px - 40px);
    overflow: hidden;
    margin: 0 20px;
    border: 10px solid #eaeaeb;
}

@mixin vertical-center {
    left: 0;
    right: 0;
    margin: 0 auto;
}

@mixin headers-properties {
    letter-spacing: 3px;
    line-height: 130%;
    text-align: center;
}
/*

@setPosition($position, $top, $left, $right) {
    position: $position;
    top: $top;
    left: $left; 
    right: $right;
}
*/
